In [73]:
import pandas as pd
import string
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [74]:
df = pd.read_csv('spam.csv',encoding = 'ISO-8859-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [76]:
df.drop(columns = ['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace = True)
df.rename(columns = {'v1' : 'class', 'v2' : 'text'}, inplace = True)
df.head()

  class                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [77]:
encoder = LabelEncoder()
df['class'] = encoder.fit_transform(df['class'])
df.head()

   class                                               text
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [78]:
df.shape

(5572, 2)

In [79]:
df.drop_duplicates(keep = 'first', inplace = True)
df.shape

(5169, 2)

In [80]:
df.isnull().sum()

class    0
text     0
dtype: int64

In [81]:
df.duplicated().sum()

0

In [82]:
df['no_chars'] = df['text'].apply(len)
df.head()

   class                                               text  no_chars
0      0  Go until jurong point, crazy.. Available only ...       111
1      0                      Ok lar... Joking wif u oni...        29
2      1  Free entry in 2 a wkly comp to win FA Cup fina...       155
3      0  U dun say so early hor... U c already then say...        49
4      0  Nah I don't think he goes to usf, he lives aro...        61

In [83]:
df.groupby('class').count()

       text  no_chars
class
0      4516      4516
1       653       653

In [84]:
import string
def msg(message):
    clean_data = [char for char in message if char not in string.punctuation]
    clean_data = "".join(clean_data)
    return clean_data

In [85]:
df['text'] = df['text'].apply(msg)
df.head()

   class                                               text  no_chars
0      0  Go until jurong point crazy Available only in ...       111
1      0                            Ok lar Joking wif u oni        29
2      1  Free entry in 2 a wkly comp to win FA Cup fina...       155
3      0        U dun say so early hor U c already then say        49
4      0  Nah I dont think he goes to usf he lives aroun...        61

In [86]:
cv = CountVectorizer(stop_words = 'english')

In [87]:
x = df['text'].values 
y = df['class'].values

In [88]:
#split data

In [89]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2)

In [90]:
x_train_cv = cv.fit_transform(x_train)

In [91]:
#training

In [92]:
NB = MultinomialNB()
NB.fit(x_train_cv, y_train)

MultinomialNB()

In [93]:
x_test_cv = cv.transform(x_test)
y_predict = NB.predict(x_test_cv)
accuracy = accuracy_score(y_test, y_predict)*100
print('Accuracy Score = ',accuracy)

Accuracy Score =  98.54932301740811

In [94]:
#classification

In [95]:
msg = input('Enter Message :')
msg_i_p = cv.transform([msg])
predict = NB.predict(msg_i_p)
if (predict[0] == 0):
    print ('!!!!!!!!!!!!!!!!!!!!CHECK SPAM!!!!!!!!!!!!!!!!!!')
else:
    print('------------------CHECK INBOX--------------------')

Enter Message :buy 2 get 1 free
!!!!!!!!!!!!!!!!!!!!CHECK SPAM!!!!!!!!!!!!!!!!!!